<div>
  <div class="container">
    <h1>{{title}}</h1>
    <div class="card">
      <div class="input-container">
        <div class="field">
          <label>Name </label><input [(ngModel)]="name" placeholder="Enter name">
        </div>
        <div class="field">
          <label>Age </label><input [(ngModel)]="age" type="number" placeholder="Enter age">
        </div>
      </div>
      <button (click)="addEvent()" [disabled]="submitLoading">
        {{ submitLoading ? 'Loading' : 'Submit' }}
      </button>
      <div class="message" *ngIf="message.length">{{message}}</div>
    </div>
    <div class="record">
      <button (click)="getJson()" [disabled]="retrieveLoading" >
        {{ retrieveLoading ? 'Loading' : 'Retrieve Files' }}
      </button>
      <div class="timeline">
        <div class="item" *ngFor="let record of records">
          Name: {{ record.name }}, Age: {{ record.age }}
        </div>
      </div>
    </div>
  </div>
</div>